#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}


body {
  font-family: : "Montserrat-Black";
}


h1 {
  font-family: : "Montserrat-Black";
  line-height: 1.5;
}
/* navigation brand */

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: "Montserrat-Light";
}

/* download-button */

.download-button {
  margin: 5% 3% 5% 0;
}

/* title image */
.title-image {
  width: 50%;
  /* transform: rotate(30deg); */
  /* position: relative; */
  /* top: 250px;
  /* z-index: 1; */
  /* left: 30%;  */
}
/* second part of page */

.head-3 {
  font-family: "Montserrat-Bold";
  font-size: 1.5rem;
}

.fa-bullseye, .fa-heart, .fa-check-circle {
  color: #ef8172;
}

/* sections */
.colored-section {
  background-color: #ef8172;
}

.white-section {
  background-color: #fff;
}


#features {
  padding: 7% 15%;
  position: relative;
  z-index: 2;
}


.fa-heart:hover, .fa-bullseye:hover, .fa-check-circle:hover {
  color: #ff4c68;
}


/* testimonial section */
#testimonials {
  color: #fff;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;

}


#press {
  padding-bottom: 3%;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}


/* pricing section */

#pricing {
  padding: 100px;
  text-align: center;
}


.pricing-column {
  padding: 3% 2%;
}



@media (max-width: 600px) {
  #title {
    text-align: center;
  }
  }

@media (min-width:600px) {
  .title-image {
    transform: rotate(30deg);
    position: relative;
    top: 250px;
    z-index: 1;
    left: 30%;
  }
}


/* last section */
#cta {
  padding: 15% 10%;
  font-family: "Montserrat Black";
  text-align: center;
  background-color: #ff4c68;
}


#footer {
  padding: 15% 10%;
  text-align: center;
}


.fa-twitter, .fa-facebook, .fa-instagram, .fa-envelope {
  padding: 5% 5%;
}
